body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #14171A; /* Cor de fundo escura */
  color: #fff; /* Cor do texto branca */
}

.container {
  background-color: #24292F; /* Cor de fundo do container */
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra mais escura */
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Cor do texto branca */
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #666; /* Borda cinza claro */
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333; /* Cor de fundo dos campos de texto */
  color: #fff; /* Cor do texto branca */
}

button {
  background-color: #1DA1F2; /* Azul do Twitter */
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #1A8CD8; /* Azul mais escuro */
}

.form-group {
  margin-bottom: 20px;
}

.switch-form {
  text-align: center;
  margin-top: 20px;
}

.switch-form a {
  color: #1DA1F2; /* Azul do Twitter */
  text-decoration: none;
}

.error {
  color: #f00; /* Vermelho */
  font-size: 14px;
  margin-bottom: 10px;
}